<header class="site-header">
    <nav class="wrap wwwNav" aria-expanded="false">
        <div class="nav-container">
            <div class="nav-top">
                <a class="logo" href="/" aria-label="Go to homepage">
                    <span>WWW</span>
                </a>
                <button class="menu-toggle" aria-label="Open / Close menu" aria-controls="site-nav">
                    <svg class="icon icon-close menu-close" alt="Close menu" fill="currentColor" aria-hidden="true"
                        role="img">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                    <svg class="icon icon-bars menu-ham" alt="Open menu" fill="currentColor" aria-hidden="true"
                        role="img">
                        <use xlink:href="#icon-bars"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-wrapper">

                <ul class="menu menu-root" id="main-menu"></ul>
            </div>
        </div>
    </nav>
</header>

<script type="module">
    import { bindSomeMenu } from "/js/menu5.js"
    import { populateMenu } from "/js/pageGoblin/populateMenu.js"
    import { loadUrlTree } from "/js/pageGoblin/tree.js"


    (async () => {
        // target the nav root
        const navRoot = document.querySelector(".wwwNav");
        if (!navRoot) return;

        // --- do the "populate menu" stuff using sitemap ---
        const siteUrlTree = await loadUrlTree("/map.json");
        if (!siteUrlTree) return;
        const target = navRoot?.querySelector(".menu-root");
        populateMenu(siteUrlTree, target);

        //  --- prepare the menu toggle for mobile ---
        const menuToggle = navRoot.querySelector('.menu-toggle');
        if (menuToggle) menuToggle.addEventListener('click', toggleNavMenu);

        function toggleNavMenu() {
            navRoot.getAttribute('aria-expanded') === 'true'
                ? closeMainMenu()
                : openMainMenu();
        }

        function openMainMenu() {
            navRoot.setAttribute('aria-expanded', 'true');
        }

        function closeMainMenu() {
            navRoot.setAttribute('aria-expanded', 'false');
        }
        
        // --- --- ---
        bindSomeMenu(navRoot, { exclusive: true });   // IMPORTANT: run AFTER population
    })();
</script>