<header class="site-header">

	<nav id="site-nav" class="wrap lfnav" aria-expanded="false">
		<div class="nav-container">
			<div class="nav-top">
				<!-- this is a special kind of section -->
				<a class="logo" href="/" aria-label="Go to homepage">
					<h1>WWW</h1>
				</a>
				<button class="menu-toggle" aria-label="Open / Close menu" aria-controls="site-nav">
					<svg class="icon icon-close menu-close" alt="Close menu" fill="currentColor" aria-hidden="true" role="img">
						<use xlink:href="#icon-close"></use>
					</svg>
					<svg class="icon icon-bars menu-ham" alt="Open menu" fill="currentColor" aria-hidden="true" role="img">
						<use xlink:href="#icon-bars"></use>
					</svg>
				</button>
			</div>
			<div class="menu-wrapper">

				<ul class="menu" id="main-menu">

					<li data-pageid="home">
						<div class="menu-item">
							<a href="/">
								<span>Home</span>
							</a>
						</div>
					</li>

					<li data-pageid="lachoutlaws" class="has-children" aria-expanded="false">
						<div class="menu-item">
							<a href="/lachoutlaws">
								<span>Lachoutlaws</span>
							</a>
							<button class="submenu-toggle" aria-controls="submenu-01">+</button>
						</div>
						<div class="submenu-grid" data-pageid="submenu-01">
							<ul class="submenu">
								<li data-pageid="confident-conversations"><a href="/lachoutlaws/metle">
										<span>Metle</span>
									</a></li>
								<li data-pageid="coaching-and-mentoring"><a href="/lachoutlaws/uni">
										<span>University</span>
									</a></li>
								<li data-pageid="testimonials"><a href="/lachoutlaws/portfolio">
										<span>Portfolio</span>
									</a></li>
								<li data-pageid="workPlay"><a href="/lachoutlaws/workPlay">
										<span>workPlay</span>
									</a></li>
							</ul>
						</div>
					</li>
					<li data-pageid="features" class="has-children" aria-expanded="false">
						<div class="menu-item">
							<a href="/feature">
								<span>Feature</span>
							</a>
							<button class="submenu-toggle">+</button>
						</div>
						<div class="submenu-grid">
							<ul class="submenu">
								<li data-pageid="accordion"><a href="/feature/accordion">
										<span>accordion</span>
									</a></li>
								<li data-pageid="numbin"><a href="/feature/numbin">
										<span>numbin</span>
									</a></li>
								<li data-pageid="gallery"><a href="/feature/gallery">
										<span>gallery</span>
									</a></li>
								<li data-pageid="menu"><a href="/feature/menu">
										<span>menu</span>
									</a></li>
							</ul>
						</div>
					</li>
					<!-- <li data-pageid="about_us" class="has-children" aria-expanded="false">
						<div class="menu-item">
							<a><span>About Us</span></a>
							<button class="submenu-toggle" aria-controls="submenu-about">+</button>
						</div>
						<div class="submenu-grid" data-pageid="submenu-about">
							<ul class="submenu">
								<li data-pageid="about-us"><a href="/about-us"><span>Our Approach</span></a></li>
								<li data-pageid="our-story"><a href="/about-us/our-story"><span>Our Story</span></a></li>
							</ul>
						</div>
					</li>
					<li data-pageid="articles">
						<div class="menu-item">
							<a href="/articles"><span>Articles</span></a>
						</div>
					</li>
					<li data-pageid="get_in_touch">
						<div class="menu-item contact-button">
							<a class="contact-link" href="/get-in-touch/">
								<span>Get In Touch</span>
							</a>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
</header>