<header class="site-header">
    <nav class="wrap wwwNav header5" aria-expanded="false">
        <div class="nav-container">
            <div class="nav-top">
                <a class="logo" href="/" aria-label="Go to homepage">
                    <span>WWW</span>
                </a>
                <button class="menu-toggle" aria-label="Open / Close menu" aria-controls="site-nav">
                    <svg class="icon icon-close menu-close" alt="Close menu" fill="currentColor" aria-hidden="true"
                        role="img">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                    <svg class="icon icon-bars menu-ham" alt="Open menu" fill="currentColor" aria-hidden="true"
                        role="img">
                        <use xlink:href="#icon-bars"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-wrapper">
                <ul class="menu menu-root" id="main-menu">
                    <!-- menu gets added in here -->
                </ul>
            </div>
        </div>
    </nav>
</header>