* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: red;
    color: white;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}