* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
}

a,
a:visited {
    color: inherit;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.site-header {
    background: var(--header-bg);
    color: var(--footer-text);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.site-footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.site-footer fieldset {
    border: none;
}