/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
}

a,
a:visited {
    color: inherit;
}

a:hover,
a:active {
    color: var(--color-accent);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    /* overflow-x: hidden; */
}

.site-header {
    background: var(--header-bg);
    color: var(--footer-text);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}

.site-footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}


.site-footer fieldset {
    border: none;
}

#global-icons {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.center {
    justify-content: center;
}

.full-width {
    width: 100%;
}

.icon {
    display: inline-block;
    stroke: currentColor;
    height: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
}

img {
    max-width: 100%;
}