:root {
    --shadow-preset-A: #00000040 0px 12px 13px, #00000038 4px 6px 7px;
    --shadow-preset-B: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --drop-shadow-1: drop-shadow(4px 4px 8px #00000044);
    --inset-preset-1: inset 0 10px 10px -4px var(--color-shadow-bgopp);
    --inset-preset-2: inset 0 10px 10px -4px var(--color-shadow-shine);
    --inset-preset-3: inset 0 10px 10px -4px var(--color-shadow-shine-half);

    --color-shadow-bgopp: rgba(0, 0, 0, 0.2);
    --color-shadow-shine: rgba(255, 255, 255, 1);
    --color-shadow-shine-half: rgba(255, 255, 255, 0.5);
    --color-subtle-divider: #E3E3E3;
}

/* Theme tokens */
[data-theme="light"] {
    --color-bg-1: hsl(60, 20%, 94%);
    --color-bg-2: hsl(60, 20%, 98%);
    --color-bg-3: hsl(60, 10%, 88%);

    --color-text-1: hsl(220, 26%, 14%);
    --color-text-2: hsl(190, 58%, 16%);
    --color-text-3: hsl(220, 0%, 25%);
    --color-feature-1: #0a1547;
    --color-feature-2: #2a3340;

    --color-accent: #0070f3;

    --color-footer-1: hsl(0, 45%, 28%);
    --color-footer-2: hsl(345, 34%, 22%);
    --footer-text: white;
    --header-text: white;

    --hsl-bulb: 22 93% 54%;
    --color-bulb-on: hsl(22, 93%, 54%);
    --color-bulb-off: hsla(var(--hsl-bulb) / 0.133);

    --footer-bg: radial-gradient(circle at bottom right, var(--color-footer-1) 0%, var(--color-footer-2) 100%);
    --header-bg: radial-gradient(circle at top left, var(--color-footer-1) 0%, var(--color-footer-2) 100%);

    --color-shadow-bgopp: rgba(0, 0, 0, 0.2);
    --color-shadow-shine: rgba(255, 255, 255, 1);
    --color-subtle-divider: #E3E3E3;


}

[data-theme="dark"] {
    --color-bg-1: hsl(219, 24%, 7%);
    --color-bg-2: hsl(220, 23%, 12%);
    --color-bg-3: hsl(220, 23%, 18%);

    --color-text-1: hsl(191, 20%, 88%);
    --color-text-2: hsl(191, 28%, 80%);
    --color-text-3: hsl(0, 0%, 81%);
    --color-feature-1: hsl(66, 40%, 80%);
    --color-feature-2: hsl(60, 20%, 70%);

    --color-accent: #79ffe1;

    --color-footer-1: hsl(0, 45%, 44%);
    --color-footer-2: hsl(0, 34%, 25%);
    --footer-text: white;
    --header-text: white;

    --color-bulb-on: #00ddff;
    --color-bulb-off: #00ddff22;

    --footer-bg: radial-gradient(circle at bottom right, var(--color-footer-1) 0%, var(--color-footer-2) 100%);
    --header-bg: radial-gradient(circle at top left, var(--color-footer-1) 0%, var(--color-footer-2) 100%);

    --color-shadow-bgopp: rgba(255, 255, 255, 0.2);
    --color-shadow-shine: rgba(255, 255, 255, 0.2);
    --color-subtle-divider: #3a3a3a;
}

[data-theme="gen"] {
    --gen-h-1: 200;
    --gen-h-2: 191;

    --color-bg-1: hsl(var(--gen-h-1), 40%, 96%);
    --color-bg-2: hsl(var(--gen-h-1), 20%, 98%);
    --color-bg-3: hsl(var(--gen-h-1), 10%, 88%);

    --color-text-1: hsl(var(--gen-h-1), 26%, 14%);
    --color-text-2: hsl(var(--gen-h-1), 58%, 16%);
    --color-text-3: hsl(var(--gen-h-1), 0%, 25%);
    --color-feature-1: hsl(var(--gen-h-1), 49%, 31%);
    --color-feature-2: hsl(var(--gen-h-1), 20%, 38%);

    --color-accent: hsl(var(--gen-h-1), 100%, 74%);


    --color-footer-1: hsl(var(--gen-h-1), 83%, 24%);
    --color-footer-2: hsl(var(--gen-h-1), 55%, 22%);
    --footer-bg: radial-gradient(circle at bottom right, var(--color-footer-1) 0%, var(--color-footer-2) 100%);
    --header-bg: radial-gradient(circle at top left, var(--color-footer-1) 0%, var(--color-footer-2) 100%);

    --color-bulb-on: hsl(var(--gen-h-1), 98%, 55%);
    --color-bulb-off: hsl(var(--gen-h-1), 38%, 89%);

    --footer-text: white;
    --header-text: white;

    --color-shadow-bgopp: rgba(255, 255, 255, 0.2);
    --color-shadow-shine: rgba(255, 255, 255, 0.2);
    --color-subtle-divider: hsl(var(--gen-h-1), 51%, 32%); 
}


#genColorPicker {
    display: none;
    padding: 8px;
    background-color: var(--color-footer);
}

#genColorPicker>.numbin {
    width: 7ch;
}

[data-theme="gen"] #genColorPicker {
    display: block;
}