/* Theme tokens */
[data-theme="light"] {
    --color-bg-1: hsl(60, 20%, 96%);
    --color-bg-2: hsl(60, 20%, 98%);
    --color-bg-3: hsl(60, 10%, 88%);

    --color-text-1: hsl(220, 26%, 14%);
    --color-text-2: hsl(190, 58%, 16%);
    --color-text-3: hsl(220, 0%, 25%);
    --color-feature-1: #0a1547;
    --color-feature-2: #2a3340;

    --color-accent: #0070f3;

    --color-footer-1: hsl(0, 45%, 28%);
    --color-footer-2: hsl(345, 34%, 22%);
    --footer-text: white;
    --header-text: white;
    /* --footer-bg: radial-gradient(circle at bottom right,var(--color-footer-1) 0%, var(--color-footer-2) 100%); */
    /* --header-bg: radial-gradient(circle at top left, var(--color-footer-1) 0%, var(--color-footer-2) 100%); */
    --color-bulb-on: hsl(60, 100%, 50%);
    --color-bulb-off: hsla(60, 100%, 50%, 0.133);

}

[data-theme="dark"] {
    --color-bg-1: hsl(219, 24%, 7%);
    --color-bg-2: hsl(220, 23%, 12%);
    --color-bg-3: hsl(220, 23%, 18%);

    --color-text-1: hsl(191, 20%, 98%);
    --color-text-2: hsl(191, 28%, 80%);
    --color-text-3: hsl(0, 0%, 81%);
    --color-feature-1: hsl(66, 40%, 80%);
    --color-feature-2: hsl(60, 20%, 70%);

    --color-accent: #79ffe1;

    --color-footer-1: hsl(66, 45%, 44%);
    --color-footer-2: hsl(60, 34%, 25%);
    --footer-text: white;
    --header-text: white;

    --color-bulb-on: #00ddff;
    --color-bulb-off: #00ddff22;}

* {
    --footer-bg: radial-gradient(circle at bottom right, var(--color-footer-1) 0%, var(--color-footer-2) 100%);
    --header-bg: radial-gradient(circle at top left, var(--color-footer-1) 0%, var(--color-footer-2) 100%);
}