.applet {
    --applet-bg: var(--color-bg-2);
    --applet-text: var(--color-text-1);
    --control-bg: var(--color-bg-3);

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--applet-bg);
    position: relative;
    /* height: 100svh; */
    /* min-height: 100svh; */
    max-height: 100svh;
    margin: 0;
    overflow-x: clip;
    overflow-y: clip;
    color: var(--applet-text);
}



.applet button {
    background-color: transparent;
    border-radius: 8px;
    color: inherit;
}

.applet .panel-container {
    display: flex;
    width: 100%;
    justify-content: center
}

.applet .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 4px 12px;
    gap: 8px;
    background-color: var(--control-bg);
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.applet .controls>* {
    flex: 1 1 42px;
    max-width: 200px;
}

.applet .controls .icon {
    font-size: 32px;
}

/********************************************
/   --- preview / canvas ---
********************************************/
/* preview box to place a canvas inside  */
#preview {
    flex: 1;
    display: grid;
    place-items: center;
    overflow: auto;
    min-height: 200px;
}

#preview,
#textView .textBox {
    scrollbar-width: thin;
}

#preview>canvas {
    object-fit: contain;
}

#preview.outline>canvas {
    outline: 1px dotted #8888;
}

#preview.fit>canvas {
    image-rendering: pixelated;
    width: var(--fit-width);
    height: var(--fit-height);
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
#textView .textBox::-webkit-scrollbar,
#preview::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/********************************************
/   --- textview ---
********************************************/
#textView {
    position: absolute;
    background: var(--color-bg-1);
    width: 100%;
    --tv-height: 200px;
    height: var(--tv-height);
    left: 0;
    top: 0;
    padding: 12px;
    z-index: 5;
    display: none;
    word-wrap: break-word;
}


#textView.show {
    display: flex;
    flex-direction: column;
}


#textView .head {
    /* padding: 8px; */
    display: flex;
    width: 100%;
    /* justify-content: right; */
}

#textView .head>.name {
    padding: 8px;
    flex: 1;
    text-align: center;
}

#textView .head>.exit {
    padding: 8px 16px;
}

#textView .head>.exit:hover {
    background-color: red;
}

#textView .textBox {
    font-family: monospace;
    margin: 12px;
    overflow: auto;
    flex: 1 1 auto;
    background: var(--color-bg-2);
    /* border: 2px solid transparent; */
}

#textView .textBox.edited {
    outline: 2px solid orange;
}

/* last submit attempt failed */
#textView .textBox.error {
    outline: 2px solid red;
}

#textView .submitBar {
    flex: 0 0 auto;
    padding: 12px;
}





/********************************************/
.applet .splitter {
    height: 6px;
    cursor: row-resize;
    background: #888;
    display: none;
}

.applet .splitter.show {
    display: block;
}

/********************************************/

.applet[data-orientation="portrait"],
.applet[data-orientation="landscape"] {
    opacity: 1;
}

.applet:not([data-orientation]) {
    opacity: 0.35;
}

.applet[data-orientation=""] {
    opacity: 0.35;
}

.applet[data-mobile="false"] #textView {
    background: var(--color-bg-1);
    width: 100%;
    height: var(--tv-height);
    border: 2px solid var(--color-text-1);
    display: none;
    padding: 12px;
    word-wrap: break-word;
    position: relative;
    z-index: 0;
}

.applet[data-mobile="false"] #textView.show {
    display: flex;
}

.applet[data-mobile="true"] #textView.show {
    height: 100%;
}



/********************************************/
.applet[data-mobile="true"][data-orientation="landscape"] {
    flex-direction: row;
}

.applet[data-mobile="true"][data-orientation="landscape"] .panel-container {
    display: flex;
    order: 0;
    width: min-content;
}

.applet[data-mobile="true"][data-orientation="landscape"] #preview {
    order: 1;
}

.applet[data-mobile="true"][data-orientation="landscape"] .controls {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    font-size: 12px;
    padding: 4px 12px;
    gap: 8px;
    background-color: var(--control-bg);
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.applet[data-mobile="true"][data-orientation="landscape"] .controls>*{
    width: 100%;
    flex: 0;
}

    