.custom-tooltip-container {
    position: relative;
    display: inline-block;
}

.custom-tooltip-btn {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: red;
    /* border: none; */
    /* border-radius: 8px; */
    box-shadow: var(--shadow-preset-B);
}

.ct-content-container {
    position: fixed;
    /* viewport coordinates */
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    display: flex;
    background: #007bff;
    border-radius: 15px;
    padding: 8px;
    z-index: 999;
}

.custom-tooltip-container:hover .ct-content-container,
.custom-tooltip-container:focus-within .ct-content-container {
    visibility: visible;
    opacity: 1;
}

.custom-tooltip-content {
    color: inherit;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
    flex: 1;
    background-color: var(--color-bg-2);
    border-radius: 12px;
}