/* From Uiverse.io by BishalSaini */
.custom-tooltip-container {
    position: relative;
    display: inline-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-tooltip-btn {
    color: inherit;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    /* background-color: #007bff; */
    background-color: var(--color-header);
    border: none;
    border-radius: 8px;
    /* cursor: pointer; */
    transition: background-color 0.3s ease, outline 0.1s;
    /* box-shadow: 0 8px 15px rgba(0, 123, 255, 0.4); */
    box-shadow: var(--shadow-preset-B);
    outline: 4px solid transparent;

}

.custom-tooltip-btn:hover {
    background-color: var(--color-bg-2);
    outline: 4px solid var(--color-harold);
}

.ct-content-container {
    display: flex;
    position: absolute;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
    /* width: 240px; */
    width: min-content;
    background: #007bff;
    padding: 8px;
    justify-content: space-evenly;
}

.custom-tooltip-content {
    color: inherit;
    text-align: center;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%); */
    /* height: 100%; */
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-2);
    border-radius: 15px;
    cursor: pointer;
    outline: 0px solid transparent;
    transition: background-color 0.3s ease, outline 0.1s;

}

.custom-tooltip-content:hover {
    background-color: var(--color-grue);
    outline: 4px solid var(--color-harold);
}

.custom-tooltip-container:hover .ct-content-container,
.custom-tooltip-container:focus-within .ct-content-container {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}



.custom-tooltip-arrow {
    position: absolute;
    top: 98%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #007bff;
}

.custom-tooltip-text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}