.accordion-panel {
    background-color: #e9e0e0;
}


/* lachoutlaws */
.accordion-trigger h2 {
    color: var(--Headings, #262626);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}


.accordion-content p {
    color: var(--BodyCopy, #4C4C4D);
    padding: 0 20px;
    font-family: Urbanist, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 1rem;
}

.accordion.chevron .accordion-trigger::after {
    background-color: var(--Headings, #262626);
}