.applet {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-2);
    margin: 20px;
    position: relative;
    height: "100svh";
    /* min-height: 100svh; */
    max-height: 100svh;
}

.applet.small {
    height: 800px;
    width: 400px;
}

.applet.big {
    height: 100svh;
    width: 100%;
}

.applet .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 8px;
    gap: 8px;
}

.applet .controls button {
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    color: inherit;
}


.applet .controls>.control {
    flex: 1;
    background-color: var(--color-bg-1);
    padding: 8px;
    /* margin: 8px; */
    display: flex;
    gap: 4px;
}


.applet .controls>.control>.numbin-container {
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-bg-3)
}

.applet .controls>.control>.numbin-container>label {
    padding: 0;
}

.applet .controls>.control input[type="number"] {
    color: inherit;
    background-color: inherit;
    font-size: 14px;
    font-family: monospace;
}


/* class to place a canvas inside  */
.applet #preview {
    flex: 1;
    display: grid;
    place-items: center;
    overflow: auto;
}

.applet #preview.outline>canvas {
    outline: 1px dotted #8888;
}

.applet #preview.fit>canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
}

/********************************************
/   --- textview ---
********************************************/
.applet #textView {
    position: absolute;
    background: var(--color-bg-3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* transform: translateX(-50%) translateY(-50%); */
    border: 2px solid var(--color-text-1);
    /* padding: 12px; */
    overflow: auto;
    z-index: 5;
    display: none;
    word-wrap: break-word;
}

.applet #textView.show {
    display: block;
}


.applet #textView .head {
    /* padding: 8px; */
    display: flex;
    width: 100%;
    /* justify-content: right; */
}

.applet #textView .head>.name {
    padding: 8px;
    flex: 1;
    text-align: center;
}

.applet #textView .head>.exit {
    padding: 8px 16px;
}

.applet #textView .head>.exit:hover {
    background-color: red;
}

.applet #textView .textBox {
    font-family: monospace;
    padding: 12px;
}

/********************************************
/   --- modal dialogue ---
********************************************/
#urlDialog {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    display: none;
    justify-content: center;
    align-items: center;
    color: inherit;
}

#urlDialog[open] {
    display: flex;
}

#urlForm {
    background-color: var(--color-bg-3);
    padding: 16px;
    width: 90%;
}

#urlForm>label {
    display: block;
    font-size: 1.5em;
    line-height: 2em;
}

#urlForm>input {
    width: 100%;
    font-size: 1.2em;
    line-height: 2em;
}

/********************************************/

/* ----- general ----- */

/* --- hide arrows for number inputs ---    */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* --                                   --  */