.applet {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-2);
    margin: 20px;

    position: relative;

}

.applet.small {
    height: 800px;
    width: 400px;
}

.applet.big {
    height: 100svh;
    width: 400px;
}

.applet .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 8px;
    gap: 8px;
}

.applet .controls button {
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    color: inherit;
}


.applet .controls>.control {
    flex: 1;
    background-color: var(--color-bg-1);
    padding: 8px;
    /* margin: 8px; */
    display: flex;
    gap: 4px;
}

.applet .controls>.control input[type="number"] {
    color: inherit;
    background-color: var(--color-bg-1);
    width: 4em;
    padding: 4px;
}

/* class to place a canvas inside  */
.applet .preview {
    flex: 1;
    display: grid;
    place-items: center;
    overflow: auto;
}

.applet .preview.outline>canvas {
    outline: 1px dotted #8888;
}

.applet .preview.fit>canvas {
    max-width: 100%;
    max-height: 100%;
}

.applet #textView {
    position: absolute;
    background: var(--color-bg-3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* transform: translateX(-50%) translateY(-50%); */
    border: 2px solid var(--color-text-1);
    padding: 12px;
    overflow: auto;
    z-index: 5;
    display: none;
}

.applet #textView .textBox {
    font-family: monospace;
}

/* ----- general ----- */

/* --- hide arrows for number inputs ---    */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* --                                   --  */