/* --- containers --- */
.slots_container {
    width: 100%;
}

.numberSlots {
    flex: 1;
    max-width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* --- numbins --- */
.numbin.solverGame {
    height: 80px;
    font-size: 32px;
    min-width: 0;
    transition: background-color .4s ease;
}

.numbin {
    outline: 2px solid transparent;
}

.numbin:focus,
.numbin:has(input:focus) {
    outline-color: var(--color-footer-1);
}

/* --- target number numbin --- */
.targetDiv {
    text-align: center;
    margin-bottom: 48px;
}
.numbin.targetNumber {
    height: 100px;
    font-size: 40px;
    transition: background-color .4s ease;

}

/* --- stuff --- */
.test-display {
    text-align: center;
}

.solutionsList {
    font-family: monospace;
}

.buttonsDiv {
    display: flex;
    width: 100%;
    gap: 20px;
}

.buttonsDiv>button {
    transition: background-color .2s ease, color .1s ease;
    flex: 1;
    max-width: 400px;
    height: 80px;
    background-color: var(--color-bg-2);
    /* outline: 2px solid transparent; */
    border: 2px solid var(--color-bg-1);
    color: inherit;
    font-size: 24px;
    border-radius: 16px;
    cursor: pointer;
    outline:none;

}
.buttonsDiv>button:hover {
    background-color: var(--color-bg-3);
    /* color: var(--color-accent); */
    border-color: var(--color-bg-1);
}

.buttonsDiv>button:focus-visible {
    outline: 2px solid var(--color-feature-1);
}

.buttonsDiv>button:active {
    border-color: var(--color-footer-1);
    color: var(--color-footer-1);
    background-color: var(--color-bg-2);
}

.solutionsDiv {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.solutionsDiv.hidden {
    display: none;
}

.solutionsDiv.solved {
    opacity: 1;
    /* pointer-events: none; */
}