<footer class="site-footer">
	<div class="wrap">
        <div class="full-width">
            <p>Footer Component</p>
            <form class="color-picker">
                <fieldset>
                    <select name="theme" id="theme" aria-label="Select Theme">
                        <option value="system">💻 System</option>
                        <option value="light">☀️ Light</option>
                        <option value="dark">🌑 Dark</option>
                    </select>
                </fieldset>
            </form>
        </div>
	</div>
</footer>