.element {
    min-height: 200px;
    /* margin: 24px 0; */
    margin: 0;
    background-color: var(--color-bg-2);
    color: var(--color-text-1);
    /* padding: 24px; */
}

.two-column {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 5%; */
    width: 100%;
}

.two-column>section {
    font-size: 24px;
    flex: 1 1 100%;
}

@media screen and (min-width: 1000px) {
    .two-column>section {
        flex: 1 1 0;
    }
}

section#basis {
    display: none;
}

.padder {
    padding: 1em;
}

.theme-name {
    padding: 1em;
    font-size: 36px;
}