.toolt-container {
    position: relative;
    display: inline-block;

    --content-bg: inherit;
    --item-bg: var(--color-bg-2);
}

.toolt-btn {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: var(--shadow-preset-B);
}

.toolt-floater {
    position: absolute;
    bottom: 100%;
    /* above trigger */
    left: 50%;
    /* base anchor */
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 200ms ease;
    z-index: 2;

    padding-bottom: 24px;

    pointer-events: none;
    /* not hittable */

}

.toolt-content {
    border-radius: 15px;
    padding: 8px;
    display: flex;
    background-color: var(--content-bg);
}

/* .toolt-container:hover .toolt-btn::after, */
.toolt-container:focus-within .toolt-btn::after,
/* .toolt-container:hover .toolt-floater, */
.toolt-container:focus-within .toolt-floater {
    opacity: 1;
    pointer-events: auto;
}

.toolt-item {
    color: inherit;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
    flex: 1;
    background-color: var(--item-bg);
    border-radius: 12px;
}

.toolt-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: var(--content-bg);
    opacity: 0;
    transition: opacity .4s ease;
    pointer-events: none;
}

.toolt-floater {
    --tx: -50%;
    --ty: 0;
    transform: translate(var(--tx), var(--ty));
}

.toolt-content.vertical {
    flex-direction: column;
}

.toolt-content>.group {
    display: flex;
}