.modalContainer {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    color: var(--color-text-1);
    transition: opacity 0.4s ease, background-color 0.4s ease;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
    background-color: #000000bb;
    display: flex;
    place-content: center;
    place-items: center;
}

.modalContainer .modalContent {
    opacity: 1;
    max-width: max(80%, 600px);
    max-height: 80%;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 12px;
    overscroll-behavior: none;
}

.modalContent .modalPanel {
    background-color: var(--color-bg-3);
    display: none;
    padding: 16px;
}

.modalContainer.show .modalContent .modalPanel.active {
    display: block;
}


#puzzleNumDisplay {
    font-size: 16px;
}

ul.browseList {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

ul.browseList>li {
    flex: 1;
    text-wrap: nowrap;
}

ul.browseList>li>button {
    width: 100%;
}
