.modalContainer:focus,
.modalContainer:focus-visible {
    outline: none;
    /* box-shadow: var(--shadow-preset-A); */
}

.modalContainer {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    color: var(--color-text-1);
    transition: opacity 0.5s ease, background-color 0.4s ease;
    display: flex;
    place-content: center;
    place-items: center;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
    background-color: #000000bb;
}

.modalContainer .modalContent {
    opacity: 1;
    max-width: 94%;
    max-height: 80%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    /* overscroll-behavior: none; */
    background-color: var(--color-bg-3);
    transition: transform 0.3s ease;
    transform: translateY(100%);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px) {
    .modalContainer .modalContent {
        max-width: max(80%, 600px);
    }
}

.modalContainer.show .modalContent {
    transform: none;
}

.modalContent .closeModalBtn {
    background-color: none;
}

.modalContent .closeModalBtn:hover {
    background-color: red;
}

.modalContent .modalPanel {
    background-color: var(--color-bg-3);
    display: none;
    /* padding: 16px; */
    overflow: auto;
    /* height: 100%; */
    overscroll-behavior: none;
}

.modalContent .modalPanel {
    scrollbar-width: thin;
}

.modalContent .modalPanel:-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


.modalContainer.show .modalContent .modalPanel.active {
    display: block;
}


#puzzleNumDisplay {
    font-size: 16px;
}

/* ----- browseList ----- */
/* ----------------------------- */
ul.browseList {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

ul.browseList>li {
    flex: 1;
    text-wrap: nowrap;
}

ul.browseList>li.loaded {
    opacity: 0.3;
    pointer-events: none;
}

ul.browseList>li::before {
    content: "✔️";
    display: none;
}
ul.browseList>li.completed::before {
    display: inline;
}

.modalContent .gregBtn {
    padding: 8px;
}


/* ----- feedbackCopyBtn ----- */
/* ----------------------------- */
/* --- A NEAT COPY BUTTON WITH FEEDBACK --- */
.feedbackCopyBtn {
    position: relative;
    display: inline-grid;
    place-items: center;    
    overflow: clip;
}
.feedbackCopyBtn .overlay,
.feedbackCopyBtn .label {
    transition: opacity 0.2s ease;
}

.feedbackCopyBtn .label {
    position: relative;
    z-index: 1;
    
}
.feedbackCopyBtn .overlay {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
}
.feedbackCopyBtn.actioned .overlay {
    opacity: 1;
    transform: none;
}
.feedbackCopyBtn.actioned .label {
    
    opacity: 0;
}
