:root {

    --sudoku-hue: var(--theme-hue-primary, 240);
    /* --sudoku-hue: 215; */

    /* Discrete colors from same hue family */
    --selectedCellColor: hsl(var(--sudoku-hue), 70%, 78%);
    --sameNumberCellColor: hsl(var(--sudoku-hue), 40%, 82%);
    --neighbourCellColor: hsl(var(--sudoku-hue), 40%, 91%);

    /* Grid */
    --gridPrimaryColor: hsl(0, 0%, 10%);
    --gridSecondaryColor: hsl(0, 0%, 60%);

    /* Background */
    --sudokuCanvasBg: hsl(var(--sudoku-hue), 30%, 97%);

    /* Numbers */
    --givenNumberColor: hsl(0, 0%, 5%);
    --userNumberColor: hsl(var(--sudoku-hue), 70%, 30%);
    /* --userNumberColor: hsl(108, 64%, 22%); */
    --errorNumberColor: hsl(0, 70%, 45%);
}


[data-theme="dark"] {
    /* --sudoku-hue: 60; */
    --sudokuCanvasBg: hsl(var(--sudoku-hue), 10%, 77%);
    /* --sudokuCanvasBg: #444; */
    --selectedCellColor: hsl(var(--sudoku-hue), 50%, 58%);
    --sameNumberCellColor: hsl(var(--sudoku-hue), 40%, 62%);
    --neighbourCellColor: hsl(var(--sudoku-hue), 30%, 71%);

}


.sudoku-container {
    position: relative;
    /* margin-top: 48px; */
    margin: 48px 0;
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    gap: 8px;
}

#sudokuUI {
    transition: transform 0.4s, opacity 0.4s;
    position: relative;
    opacity: 1;
    transform: none;
}

.sudoku-container:has(.modalContainer.show) #sudokuUI {
    transform: scale(90%);
    /* opacity: 0.5; */
}

.canvas-container {
    margin-top: 12px;
}

.someSudokuOtherThangy {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.someSudokuOtherThangy .gregBtn {
    padding: 8px;
    font-weight: 400;
}

.morePresets {
    width: 100%;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.morePresets .gregBtn {
    /* height: 42px; */
    padding: 8px;
}

.numpad-wrapper {
    width: 100%;
    margin-top: 12px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.numpad-wrapper .numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* height: 100%; */
    justify-content: space-between;
    position: relative;
    /* width: 100%; */
    gap: 4px;
}



#sudokuCanvas {
    /* background-color: wheat; */
    background-color: transparent;
}

[data-theme="dark"] #sudokuCanvas {
    background-color: #444;
}



@media screen and (min-width: 1000px) {
    .sudoku-container {
        width: 85%;
        max-width: 1000px;
    }

    .gameContainer {
        flex-direction: row;

    }

    .numpad-wrapper {
        width: 100%;
        max-width: 500px;
    }

    .numpad-wrapper .numpad {
        display: grid;
        /* height: 100%; */
        justify-content: space-between;
        position: relative;
        /* width: 100%; */
        gap: 4px;
        grid-template-columns: 1fr 1fr 1fr;
        flex: 3;
    }

    
    .numpad-wrapper .someSudokuOtherThangy {
        flex: 1;
        gap: 8px;
    }

    .numpad-wrapper .someSudokuOtherThangy>button {
        flex: 1;
    }


}