:root {

    --sudoku-hue: var(--theme-hue-primary, 240);
    /* --sudoku-hue: 215; */

    /* Discrete colors from same hue family */
    --selectedCellColor: hsl(var(--sudoku-hue), 70%, 78%);
    --sameNumberCellColor: hsl(var(--sudoku-hue), 40%, 82%);
    --neighbourCellColor: hsl(var(--sudoku-hue), 40%, 91%);

    /* Grid */
    --gridPrimaryColor: hsl(0, 0%, 10%);
    --gridSecondaryColor: hsl(0, 0%, 60%);

    /* Background */
    --sudokuCanvasBg: hsl(var(--sudoku-hue), 30%, 97%);

    /* Numbers */
    --givenNumberColor: hsl(0, 0%, 5%);
    --userNumberColor: hsl(var(--sudoku-hue), 70%, 30%);
    /* --userNumberColor: hsl(108, 64%, 22%); */
    --errorNumberColor: hsl(0, 70%, 45%);
}

/* 
[data-theme="dark"] {
    --sudoku-hue: 60;
} */


.sudoku-container {
    position: relative;
    /* margin-top: 48px; */
    margin: 48px 0;
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    gap: 8px;
}

#sudokuUI {
    transition: transform 0.4s, opacity 0.4s;
    position: relative;
    opacity: 1;
    transform: none;
}

.sudoku-container:has(.modalContainer.show) #sudokuUI {
    transform: scale(90%);
    /* opacity: 0.5; */
}

.canvas-container {
    margin-top: 12px;
}

.someSudokuOtherThangy {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.someSudokuOtherThangy .gregBtn {
    padding: 8px;
    font-weight: 400;
}

.morePresets {
    width: 100%;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.morePresets .gregBtn {
    /* height: 42px; */
    padding: 8px;
}

.numpad-wrapper {
    width: 100%;
    margin-top: 12px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.numpad-wrapper .numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* height: 100%; */
    justify-content: space-between;
    position: relative;
    /* width: 100%; */
    gap: 4px;
}



#sudokuCanvas {
    /* background-color: wheat; */
    background-color: transparent;
}

[data-theme="dark"] #sudokuCanvas {
    background-color: #444;
}


.modalContainer {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
    color: var(--color-text-1);
    transition: opacity 0.4s, background-color 0.4s;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
    background-color: #000000bb;
    display: flex;
    place-content: center;
    place-items: center;
}

.modalContainer .modalContent {
    opacity: 1;
    max-width: min(80%, 600px);
    max-height: 80%;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    border-radius: 12px;
    overscroll-behavior: none;
}

.modalContent .modalPanel {
    background-color: var(--color-bg-3);
    display: none;
    padding: 16px;
}

.modalContainer.show .modalContent .modalPanel.active {
    display: block;
}


#puzzleNumDisplay {
    font-size: 16px;
}

ul#browseList {
    list-style-type: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

ul#browseList>li {
    flex: 1;
    text-wrap: nowrap;
}

ul#browseList>li>button {
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .sudoku-container {
        width: 85%;
    }

    .gameContainer {
        flex-direction: row;

    }

    .numpad-wrapper {
        width: 100%;
        max-width: 500px;
    }

    .numpad-wrapper .numpad {
        display: grid;
        /* height: 100%; */
        justify-content: space-between;
        position: relative;
        /* width: 100%; */
        gap: 4px;
        grid-template-columns: 1fr 1fr 1fr;
        flex: 3;
    }

    
    .numpad-wrapper .someSudokuOtherThangy {
        flex: 1;
        gap: 8px;
    }

    .numpad-wrapper .someSudokuOtherThangy>button {
        flex: 1;
    }


}