:root {

    /* --sudoku-hue: var(--theme-hue-primary, 240); */
    --sudoku-hue: 215;

    /* Discrete colors from same hue family */
    --selectedCellColor: hsl(var(--sudoku-hue), 70%, 78%);
    --sameNumberCellColor: hsl(var(--sudoku-hue), 40%, 82%);
    --neighbourCellColor: hsl(var(--sudoku-hue), 40%, 91%);

    /* Grid */
    --gridPrimaryColor: hsl(0, 0%, 10%);
    --gridSecondaryColor: hsl(0, 0%, 60%);

    /* Background */
    --sudokuCanvasBg: hsl(var(--sudoku-hue), 30%, 97%);

    /* Numbers */
    --givenNumberColor: hsl(0, 0%, 5%);
    --userNumberColor: hsl(var(--sudoku-hue), 70%, 30%);
    /* --userNumberColor: hsl(108, 64%, 22%); */
    --errorNumberColor: hsl(0, 70%, 45%);
}

/* 
[data-theme="dark"] {
    --sudoku-hue: 60;
} */

.gameWrap {
    max-width: 500px;
}

.sudoku-container {
    position: relative;
    /* margin-top: 48px; */
    margin: 48px 0;
    text-align: center;
}
#sudokuUI {
    transition: transform 0.5s, opacity 0.5s;
    position: relative;
    opacity: 1;
    transform: none;
}

.sudoku-container:has(.modalContainer.show) #sudokuUI {
    transform: scale(90%);
    /* opacity: 0.5; */
}

.canvas-container {
    margin-top: 12px;
}

.someSudokuOtherThangy {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.someSudokuOtherThangy .gregBtn {
    padding: 8px;
    font-weight: 400;
}

.morePresets {
    width: 100%;
    font-size: 20px;
}

.morePresets .gregBtn {
    /* height: 42px; */
    padding: 8px;
}

.numpad-wrapper {
    width: 100%;
    margin-top: 12px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.numpad-wrapper .numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}


.gregBtn {
    box-sizing: border-box;
    cursor: pointer;

    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    /* display: flex; */
    /* height: 42px; */
    justify-content: center;
    transition: opacity .3s, color .3s, background-color .3s;
    user-select: none;
    /* transition: background-color .2s; */
    background: transparent;
    transform: translateZ(0);
    border: 0;
    border-radius: 5px;
    /* color: #325aaf; */
    color: var(--userNumberColor);
    font: inherit;
}


.numpad .gregBtn {
    font-size: 36px;
    font-weight: 400;
    flex-basis: 11.1111%;

}


#sudokuCanvas {
    /* background-color: wheat; */
    background-color: transparent;
}

[data-theme="dark"] #sudokuCanvas {
    background-color: #444;
}


.gregBtn:hover {
    background-color: hsl(215, 30%, 88%);
}

.gregBtn:active {
    background-color: hsl(215, 30%, 84%);
}


[data-theme="dark"] .gregBtn:hover {
    background-color: hsla(218, 30%, 33%, 0.267);
}

[data-theme="dark"] .gregBtn:active {

    background-color: hsla(218, 30%, 44%, 0.267);
}

.modalContainer {
    opacity: 0;
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 20;
    transition: opacity 0.4s, background-color 0.4s;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
    background-color: #000000bb;
}

.modalContainer .modalContent {
    opacity: 1;
}
.modalContent .modalPanel {
    background-color: #444;
}

.modalContent .modalPanel.active {
    display: block;
}
