:root {
    --bg: var(--color-bg-1);

    --tile-color: #2e60aa;
    --tile-color-2: #233f69;
    --tile-text: #fff;
    --slot-color: #2222a5;
    --slot-color-2: #06064b;

    --rand-1: #224d7b;

    --accent: #79DAFF;
    --accent50: #79DAFFaa;
}

[data-theme='dark'] {
    --bg: #0e0e11;
}


/* --- containers --- */
.trainContainer {
    display: block;
}

.slots_and_targets {
    /* badly named lol, a parent box from the game show's real layout */
    background-color: var(--rand-1);
    margin: 24px 0;
    padding: 24px 24px;
}

.slots_container {
    width: 100%;
}

.numberSlots {
    display: grid;
    gap: 8px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    /* flex-wrap: wrap; */
    /* padding: 0 24px; */
    font-size: 24px;
}

@media (min-width: 600px) {
    .numberSlots {
        grid-template-columns: repeat(auto-fit, minmax(4ch, 1fr));
        /* font-size: 28px; */
    }
}

/* --- numbins --- */
.trainContainer .numbin {
    box-shadow: var(--shadow-preset-B);
}

/* --- slots numbins --- */
.numbin.solverGame {
    height: 80px;
    font-size: inherit;
    transition: background-color .4s ease;
    padding: 0;
    width: 100%;
    min-width: 80px;
    background-color: var(--slot-color);
    color: var(--tile-text);
    font-weight: 600;
    border-radius: 4px;
    border: 4px solid;
    border-color: grey;
    cursor: unset;
    touch-action: auto;
}

.numbin.solverGame.valid {
    border-color: var(--accent);
}

/* 
.numbin {
    outline: 2px solid transparent;
}

.numbin:focus,
.numbin:has(input:focus) {
    outline-color: var(--color-footer-1);
} */

/* --- target number numbin --- */
.targetDiv {
    text-align: center;
    margin-bottom: 48px;
}

.numbin.targetNumber {
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    transition: background-color .4s ease;
    width: 7ch;
    background-color: var(--slot-color-2);
    color: var(--tile-text);
    border-radius: 4px;
    border: 4px solid grey;
}

.numbin.targetNumber.valid {
    border-color: var(--accent);
}

/* --- stuff --- */
.test-display {
    text-align: center;
}

.solutionsList {
    font-family: monospace;
}

.buttonsDiv {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.buttonsDiv>button {
    transition: background-color .2s ease, color .1s ease;
    /* flex: 1; */
    max-width: 400px;
    /* height: 70px; */
    background-color: var(--color-bg-2);
    /* outline: 2px solid transparent; */
    border: none;
    /* border: 2px solid var(--color-bg-1); */
    color: inherit;
    font-size: 14px;
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-preset-B);
    padding: 1.125em 2.5em;
    border-radius: 999px;
}

@media (min-width: 600px) {
    .buttonsDiv>button {
        font-size: 18px;
        padding: 1.125em 2.5em;
    }
}

.buttonsDiv>button:hover {
    background-color: var(--color-bg-3);
}

.buttonsDiv>button.ready {
    background-color: green;
    color: white;
}

.buttonsDiv>button:focus-visible {
    outline: 2px solid var(--color-feature-1);
}

.buttonsDiv>button:active {
    border-color: var(--color-footer-1);
    color: var(--color-footer-1);
    background-color: var(--color-bg-2);
}


.solutionsDiv {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.solutionsDiv.hidden {
    display: none;
}

.solutionsDiv.solved {
    opacity: 1;
    /* pointer-events: none; */
}

/* --- the tiles to pick from --- */
/* overall wrapper */
.someTilesGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    margin: 24px 0;
}

/* each section: row of tiles */
.tiles {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    max-width: 420px;
    font-size: 24px;
}

/* exactly 5 per row, grow to fill */
.small.tiles {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}


/* visual tile styling */
.tile {
    background: var(--tile-color);
    /* border: 2px solid #999; */
    border-radius: 4px;
    color: var(--tile-text);
    text-align: center;
    font-size: inherit;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-end: span 2;
    box-shadow: var(--shadow-preset-B), var(--inset-preset-3);
    user-select: none;
    touch-action: none;
}

/* .tile:focus:active,
.tile:active {
    box-shadow: var(--shadow-preset-B);
} */

.tile:nth-child(11) {
    grid-column-start: 2;
}

.dropZone {
    margin-top: 1rem;
    height: 100px;
    border: 2px dashed #999;
    display: grid;
    place-items: center;
}

.numbin.solverGame.dragover {
    outline: 4px dashed grey;
    background-color: var(--slot-color-2);
}

.tile.drag-clone.pressed,
.tile.drag-clone {
    background-color: turquoise;
    box-shadow: var(--inset-preset-3), var(--shadow-preset-A);
}



.tile.pressed {
    background: var(--tile-color-2);
    box-shadow: var(--shadow-preset-A);
}