/* --- containers --- */
.trainContainer {
    display: block;
}

.slots_container {
    width: 100%;
    margin: 24px 0;
}

.numberSlots {
    display: grid;
    gap: 8px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 24px;
}

@media (min-width: 540px) {
    .numberSlots {
        grid-template-columns: repeat(auto-fit, minmax(5ch, 1fr));
    }
}

/* --- numbins --- */
.trainContainer .numbin {
    box-shadow: var(--shadow-preset-B);
}

/* --- slots numbins --- */
.numbin.solverGame {
    height: 80px;
    font-size: 24px;
    transition: background-color .4s ease;
    padding: 0;
    width: 100%;
    min-width: 4ch;
}

.numbin {
    outline: 2px solid transparent;
}

.numbin:focus,
.numbin:has(input:focus) {
    outline-color: var(--color-footer-1);
}

/* --- target number numbin --- */
.targetDiv {
    text-align: center;
    margin-bottom: 48px;
}

.numbin.targetNumber {
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    transition: background-color .4s ease;
    width: 7ch;
}

/* --- stuff --- */
.test-display {
    text-align: center;
}

.solutionsList {
    font-family: monospace;
}

.buttonsDiv {
    display: flex;
    width: 100%;
    gap: 20px;
}

.buttonsDiv>button {
    transition: background-color .2s ease, color .1s ease;
    flex: 1;
    max-width: 400px;
    height: 70px;
    background-color: var(--color-bg-2);
    /* outline: 2px solid transparent; */
    border: 2px solid var(--color-bg-1);
    color: inherit;
    font-size: 20px;
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-preset-B);

}

.buttonsDiv>button:hover {
    background-color: var(--color-bg-3);
}

.buttonsDiv>button:focus-visible {
    outline: 2px solid var(--color-feature-1);
}

.buttonsDiv>button:active {
    border-color: var(--color-footer-1);
    color: var(--color-footer-1);
    background-color: var(--color-bg-2);
}


.solutionsDiv {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.solutionsDiv.hidden {
    display: none;
}

.solutionsDiv.solved {
    opacity: 1;
    /* pointer-events: none; */
}

/* --- the tiles to pick from --- */
/* overall wrapper */
.someTilesGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    margin: 24px 0;
}

/* each section: row of tiles */
.tiles {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    max-width: 420px;

}

/* exactly 5 per row, grow to fill */
.small.tiles {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}


/* visual tile styling */
.tile {
    background: blue;
    border: 2px solid #999;
    border-radius: 6px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-end: span 2;
    ;
}

.tile:nth-child(11) {
    grid-column-start: 2;
}

.tile {
    user-select: none;
    cursor: grab;
}

.tile:active {
    cursor: grabbing;
}

.dropZone {
    margin-top: 1rem;
    height: 100px;
    border: 2px dashed #999;
    display: grid;
    place-items: center;
}