/* a button that's meant to have some different states */

.someButton {
    border: none;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    color: inherit;
    transition: background-color .2s ease, color .1s ease;
}

.someButton:hover {
    background-color: var(--color-bg-3);
}

.someButton.ready {
    background-color: green;
    color: white;
}

.someButton:focus-visible {
    outline: 2px solid var(--color-feature-1);
}

.someButton:active {
    border-color: var(--color-footer-1);
    color: var(--color-footer-1);
    background-color: var(--color-bg-2);
}
